# Ignorar pastas de saída de compilação
/out/

# Ignorar arquivos do IntelliJ IDEA
.idea/
*.iml

# Ignorar arquivos do Eclipse (se não forem usados)
.classpath
.project

# Ignorar arquivos de configuração ou temporários
*.class

# Arquivos adicionais de configuração ou ambiente local
*.xml

/Testes/
